$color-brand: #fed136;

body {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 30px;
}

.salon {
  font-family: 'Merriweather', serif;
  font-size: 22px;
  text-align: center;
}

.time {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  text-align: center;
}

.salon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  position: relative;

  @media screen and (max-width: 500px) {
    min-height: 400px;
  }
}

.salon-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 300px;
  padding: 15px;

  @media screen and (max-width: 500px) {
    width: 200px;
    top: 200px;
  }
}

.image {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  @media screen and (max-width: 500px) {
    width: 300px;
    height: 300px;
  }
}

.top {
  margin-top: 15px;
}

.nav {
  float: right;

  a {
    color: $color-brand;
    text-decoration: none;
    margin-left: 15px;
  }

  a.current {
    text-decoration: underline;
  }
}

.line {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid $color-brand;
  margin: 15px auto;
}

.salon-title {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
}

.subtitile {
  text-align: center;
  margin-top: 10px;
}

.contact-info {
  margin-bottom: 30px;
}

.contact-column {
  margin-top: 15px;
}

.price {
  font-weight: bold;
}

.footer {
  padding: 15px 0;
  margin-top: 15px;
  border-top: 1px solid $color-brand;
}