<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="row top">
        {% include navigation.html %}
      </div>
    </div>
    <div class="container">
      <h2 class="title">{{ page.title }}</h2>
    </div>
    <div class="line"></div>
    <div class="container" id="about">
      <div class="salon">Наши салоны</div>
      <div class="time">Мы работаем каждый день с 10:00 до 21:00</div>
    </div>
    <div class="line"></div>
    <div class="container">
      <section>
        {{ content }}
      </section>
    </div>
    <div class="line"></div>
    <div class="container" id="contact">
      <div class="salon">Контакты</div>
      {% include contacts.html %}
    </div>
    <div class="line"></div>
    <div class="container">
      <footer class="row">
        <div class="ten columns">Гранд парк</div>
        <div class="two columns">&copy; 2019</div>
      </footer>
    </div>
  </body>
</html>